/* header styles */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



.banner {
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
   margin: 50px 140px 120px 140px;
   background-color: #070211, #07021100;
}

.banner-text{
    padding-top: 177px;
    padding-bottom: 177px;
    text-align: center;
    font-family: Merriweather;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

    
    
}
.year{
    color: #FFF;
    font-family: Merriweather;
font-size: 32px;
font-weight: 400;
}
.party{
    color: #FFF;
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px; /* 131.944% */
padding: 0 344px;
margin-top: 16px;
}


/* 65% off section */
.holiday {
    text-align: center;
   width: 100%;
    max-width: 1320px;
    margin: 0 auto;
   margin: 120px 140px;
}


.off {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

#all {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}

/* section 3 styles */
.banner2 {
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 120px;
    
}

.container {
    width: 81%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
   

}

#banner2h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    margin-left: 126px;


}

.para-primary {
    color: #ffffffcc;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    width: 697px;
    margin-top: 24px;
    margin-left: 126px;
}

.first-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
    margin-left: 158px;
    background-color: #07021100;
}

.banner2-image {
    width: 319.83px;
    height: 464.662px;
    margin-right: 138px;
    
}

/* section 4 */
.section-third {
    width: 1320px;
    height: 482px;
    margin-top: 120px;
    margin-left: 140px;
    margin-right: 140px;
    background:linear-gradient(pink , white);
}
.time-date{
    text-align: center;
    justify-content: center;
    padding: 100px 385px 214px 385px;
}
.new-park{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
span{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.join{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
}
.btn-btn{
    border-radius: 8px;
background: #F00;
border: none;
padding: 16px 32px;
margin-top: 64px;
}
/* best offer section */
.best-offer{
    margin-bottom: 120px;
    margin-left: 140px;
    width: 1320px;
    height: 463px;
    display: flex;
    margin-top: 120px;
    
}
.offer-title{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-top: 104px;
}
.offer-heading{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-top: 16px;
}
.offer-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
margin-top: 22px;
margin-right: 70px;
}

.upcomming-year{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-top: 112px;
margin-left: 118px;
}
.new-year-wish{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
margin-top: 16px;
margin-left: 118px;
}
.new-year-logo{
    margin-top: 43px;
    margin-left: 118px;
}
.offer-image{
    width: 365px;
    height: 365px;
    margin-right: 118px;
    
   }
.happy-picture{
    border: 15px solid #F00;
    border-radius: 365px ;
    padding: 45px;
    border-collapse: separate;
    border-spacing: 45px;
}

/* 50% sale section */
.sale{
width: 81%;
max-width: 1320px;
margin-left: 140px;
margin-top: 120px;
}
.all-texts{
    text-align: center;
}
.small-paragraph{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}
small{
    color: #F00;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
h5{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
margin-bottom: 28px;
}
.sale-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px; /* 160% */
margin-left: 266px;
margin-right: 266px;
}
.girl-image{
    position: relative;
    left: 65%;
}
.sale-red-logo{
    position: relative;
    left: 20%;
}


.large-red-shade{
    width: 1320px;
height: 229px;
    border-radius: 16px 0px 16px 16px;


}

/* awesome  section */
.gift {
    width: 81%;
    max-width: 1320px;
    margin-left: 140px;
    margin-right: 140px;
 
    margin-top: 120px;
    align-items: center;
    position: relative;
    left: 30px;

}

.awesome-text {
    margin-left: 140px;
    text-align: left;
    position: relative;
    left: -130px;

}


.p-awesome {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;

}

.awesome-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.para-second {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    ;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 896px;
    margin-bottom: 48px;
}

.awesome-images {
    display: block;

   
}
.picture{
    width: 424px;
height: 450px;
margin: 3px;
}


.picture:hover {
    border-radius: 50%;
    border: 5px solid purple;
}

/* newsletter styles */
.newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 120px;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
    justify-content: space-between;
}

.newsletter-content {
    width: 81%;
    max-width: 1320px;
}

.email-icon {
    margin-top: 80px;
    margin-left: 300px;


}

#newsletter-h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 22px;
    margin-left: 300px;
}

#newsletter-para {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 896px;
    margin: 15px 212px;
}

.newsletter-btn {
    margin-top: 48px;
}

#email {
    padding-left: 30px;
    border-radius: 50px 0px 0px 50px;
}

#submit-btn {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 72px;
    color: #FFF;
    border: none;
}


.newsletter form {
    max-width: 630px;
    margin: 15px 336px;
    display: flex;
}

.newsletter form input {
    width: 630px;
    border: none;
    border-radius: 50px;
}

/* footer section starts from here */

footer {
    background-color: #070211;
    height: 650px;
    margin-top: 120px;
}

.location {
    width: 81%;
    max-width: 1320px;
    margin: 120px 140px;
    display: flex;
    justify-content: space-between;
}

.footer-paragraph .venue-location {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    margin-top: 120px;
    width: 375px;

}

.contact {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    margin-top: 120px;
}

.website {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

#call {
    margin-right: 16px;
}

#web {
    margin-right: 16px;
}

.break {
    color: #FFFFFF26;
    margin-top: 20px;
    margin-bottom: 48px;

}

.social-icon {
    margin-right: 140px;
    text-align: center;
}

.footer-last {
    display: flex;
    justify-content: space-between;
}

.reserved {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 120px;
    margin-left: 140px;
}

.footer-last {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-right: 140px;
}